/*page1*/
@import url(https://fonts.googleapis.com/css?family=Italiana);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://fonts.googleapis.com/css?family=Allerta+Stencil);

@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

@import url(https://fonts.googleapis.com/css?family=Quicksand);


/*large screen responsive*/
@media screen and (max-width:600px){
	html {
		width: 100%;
	}
	body {
		width: 100%;
		height: auto;
		-webkit-flex-direction: row;
	}
	section {
		width: auto;
	}
	header {
		width: auto;
		display: flex;
		display: -webkit-flex;
		-webkit-flex-direction: row;
		flex-wrap: wrap;
	}

	div.slideshow {
		width: 100%;
	}
	div.side {
		width: auto;
		margin: 0;
		float: none;
		padding: 5px 0 0 0;
		-webkit-flex-direction: row;
		flex-wrap: wrap;
		-webkit-justify-content: center;
	}
	.scroll-down {
		width: auto;
		margin: right 0;
		float: left;
	}
	.flexbox-container {
		width: auto;
		margin: 0;
		padding: 5px 0 0 0;
		display: flex;
		display: -webkit-flex;
		-webkit-flex-direction: row;
		flex-wrap: wrap;
		-webkit-justify-content: center;
	}
}

/*---------------------------

/*small screen*/
@media screen and (max-width:320px){

	img {
		max-width: 100%;
		margin: 0 0 10px 0;
		float: none;
	}
	#row2, #row3, #row4, #hrA, #line {
		width: auto;
		margin: right 0;
		float: none;
		display: flex;
		display: -webkit-flex;
	}

	div.slideshow {
	width: 100%;
	}
	div.side {
		width: auto;
		margin: right 0;
		float: none;
		padding: 5px 0 0 0;
	}
	div.about {
		width: auto;
		margin: 0;
		padding: 5px 0 0 0;
	}
}

/*----------------------------

/*normal CSS*/
html {
width: 100%;
height: 100%;
margin: 0 auto;
}

body {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background-color: black;
}

header {
width: 100%;
height: 100%;
margin: 0;
background-color: black;
}

section {
	width: 100%;
	height: 100%;
}

/*------------------------------*

/*greeting time*/
h3 {
	font-size: 20px;
	font-family: 'Italiana', serif;
	text-align: center;
	color: white;
	margin-right: 44%;
	margin-left: 45%;
	border-style: inset;
	border-width: thin;
	padding-top: 0.20%;
	padding-bottom: 0.25%;
}

/*-----------------------------*/

/*title*/
.name {
  color: gray;
  font-size: 94px;
	font-weight: bold;
	/*font-family: 'Poiret One', cursive;*/
	font-family: 'Expletus Sans', cursive;
  float: left;
  margin-top: 18%;
	margin-left: 22%;
	-webkit-transition: 1s linear 0s;
	-moz-transition: 1s linear 0s;
	-o-transition: 1s linear 0s;
	transition: 1s linear 0s;
	outline: 0 none;
}

.lastN {
  font-size: 91px;
  color: white;
  /*font-family: 'Codystar', cursive;*/
	font-family: 'Allerta Stencil', sans-serif;
  float: left;
  margin-top: 17.5%;
}

/*-----------------------------*/

/*social media css*/
ul {
    margin-left: 38%;
    font-size: 40px;
		padding-top: 30%;
}
ul li {
    list-style-type: none;
    float: left;
    padding: 15px;
}
a {
    color: #595A5A;
    text-decoration: none;
    padding-left: 5px;
}
#social a:hover {
  color: #B2B724;
	text-shadow: 3px 1px 30px #ffd200;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

/*-----------------------------*/

/*scroll down*/
.scroll-down {
	margin-left: 50%;
  font-size: 40px;
  padding-top: 5%;
}
.scroll-down a {
	color: white;
}
.fa-angle-double-down:hover {
	color: #347EDE;
  /*-webkit-transition: all 1.5s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;*/
}

/*-----------------------------*/

/*section 2*/
.about {
	font-size: 33px;
	font-family: 'Italiana', serif;
	color: black;
	margin-left: 35%;
	padding-top: 3%;
}

#row2 {
display: block;
height: 95%;
/*background-color: #595A5A;*/
background-color: white;
margin-top: 0;
margin: 0 auto;
}
/*#row2:hover {
	background-color: white;
}*/
.slideshow {
  width: 50%;
  height:50%;
  margin-top: 90px;
	margin-left: 70px;
	position: absolute;
}
.slideshow > div {
  position: absolute;
  margin-top: 0;
  height: 50%;
}
.slideshow > div > img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
	border-radius: 3px;
	border-style: solid;
	border-width: 2px;
	border-color: gray;
}
.side {
	font-family: 'Wire One', sans-serif;
	font-size: 15px;
	/*background-color: black;*/
	margin-top: 105px;
	margin-right: 6%;
	width: 30%;
	height: 50%;
	float: right;
	line-height: 140%;
}
.icons > li {
	list-style-type: none;
	padding: 0;
	align-items: center;
}
.side > .icons {
	margin-left: 8%;
	margin-top: -5%;
	padding-top: 3%;
}
.title1 {
	text-align: center;
	font-size: 18px;
	margin-right: -2%;
  padding-bottom: 5%;
  margin-top: -3%;
}
.title2 {
	text-align: center;
	font-size: 18px;
	margin-right: 5%;
  padding-bottom: 5%;
  margin-top: -3%;
}
.author{
	font-size: 15px;
	font-weight: bold;
	font-family: 'Poiret One', cursive;
	color: gray;
	float:right;
}

/*-----------------------------*/

/*section 3*/
#row3 {
display: block;
height: 95%;
margin: 0 auto;
background-color: #595A5A;
}

.portfolio {
	font-size: 33px;
	font-family: 'Italiana', serif;
	color: white;
	margin-left: 48%;
	padding-top: 3%;
	padding-bottom: 4%;
}
.flexbox-container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}
.flexbox-container > div {
	width: 33%;
	padding: 15px;
	margin-top: 3%;
	font-family: 'Poiret One', cursive;
	font-size: 25px;
	text-align: center;
	background-color: #595A5A;
	list-style: none;
}
.flexbox-container > div > #one, #two, #three {
	border-top-style: solid;
	border-top-width: 2px;
	padding-top: 10%;
	border-radius: 1px;
}

.fa-gear:before, .fa-cog:before {
    content: "\f013";
    color: #000000;
}

#one a {
	color: white;
}
#one > a:hover {
	color: yellow;
}
#one > p > a:hover {
	color: yellow;
}
#two a {
	color: white;
}
#two > a:hover {
	color: yellow;
}
#three a {
	color: white;
}
#three > a:hover {
	color: yellow;
}

/*----------------------------*/

/*testimonials*/
#row3A {
	display: block;
	height: 90%;
	margin: 0 auto;
	background-color: white;
}
.testimonial {
	font-size: 33px;
	font-family: 'Italiana', serif;
	color: black;
	margin-left: 48%;
	padding-top: 3%;
	text-transform: uppercase;
}
.quote {
	font-size: 33px;
	font-family: 'Poiret One', cursive;
	color: black;
	margin-left: 18%;
	margin-top: 5%;
}
.fa-users {
  color: #347EDE;
}
.horizon-swiper {
	margin-left: 30%;
	margin-top: 4%;
}
.horizon-swiper > div {
  position: absolute;
  margin-top: 0;
  height: 50%;
}
.horizon-swiper > div > img {
	width: 640px;
	height: 350px;
	margin: 0 0 10px 0;
	border-radius: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}

/*-----------------------*/

/*section 4*/
#row4 {
display: block;
height: 65%;
margin: 0 auto;
background-color: #94A2A2;
}

.chat {
  font-family: 'MyWebFont', Andale Mono;
  font-size: 40px;
  color: black;
  margin-left: 40%;
	padding-top: 6%;
  text-transform: uppercase;
}
.fa-comments-o {
  color: #347EDE;
}
.email {
	font-size: 28px;
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	text-align: center;
	margin-left: 4%;
	margin-top: 3%;
	padding-top: 3%;
	color: black;
}

/*-----------------------------*/

/*scroll up*/
.note {
	font-size: 28px;
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	text-align: center;
	/*text-decoration: underline;*/
	margin-left: 4%;
	margin-top: 1%;
	color: black;
}

.email > a:hover {
	color: white;
	text-shadow: 3px 1px 30px rgb(3, 5, 12);
	-webkit-transition: all 1.5s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
.note > a:hover {
	color: white;
	text-shadow: 3px 1px 30px rgb(3, 5, 12);
	-webkit-transition: all 1.5s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
}
/*.scroll-up {
	margin-left: 50%;
  font-size: 50px;
  padding-top: .5%;
}
.scroll-up a {
	color: white;
}
.fa-angle-double-up:hover {
	color: #347EDE;
}*/

#hrA {
  margin-top: 136%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(234, 225, 225, 0.75), rgba(0, 0, 0, 0));
}

#line {
  margin-left: 45%;
  margin-top: 2%;
	padding-bottom: 2%;
  font-size: 12px;
  font-family: 'MyWebFont', Avenir;
  color: rgb(150, 145, 145);
}
